html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-image: url("../imgs/bgtest1.jpeg"); */
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "regular";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "thin";
  src: url("../fonts/Poppins-Thin.ttf");
}

@font-face {
  font-family: "semibold";
  src: url("../fonts/Poppins-SemiBold.ttf");
}

.btn-hover {
  transition: 0.7s;
  /* background-color: #8f75df; */
  background-color: #6752a8;
  color: white;
}

.btn-hover:hover {
  background-color: #8f75df;
  color: white;
  transition: 0.7s;
}

.authentication-heading {
  color: #d5eefc;
  text-align: center;
  font-weight: 800;
}

.gradient-text {
  background-color: white;
  background-image: linear-gradient(25deg, white, #2160fd);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.nav-link:hover {
  border: none;
  border-radius: 0.375rem;
}

.download-link {
  font-size: large;
  font-weight: bold;
}

.nav-link.active {
  border-radius: 0.375rem;
  color: #2160fd !important;
  font-weight: bold;
}

.CircularProgressbar-trail {
  stroke: ghostwhite !important;
}

button {
  transition: 0.5s;
}

.hover-select:hover {
  cursor: pointer;
}

.hover-dark:hover {
  background: rgba(255, 255, 255, 0.3) !important;
  transition: 0.5s;
}

.logout-hover:hover {
  background: rgba(255, 49, 49, 0.8) !important;
  transition: 0.5s;
}

.orderDownloadBtn {
  text-decoration: none;
}

.orderDownloadBtn:hover {
  color: white;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

